*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 235, 135);
}

@keyframes round {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(200deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

div{
    width: 200px;
    height: 200px;
    background-color: rgb(18, 180, 86);
    border-radius: 50%;

    font-size: 45px;
    font-weight: bold;

    animation: round 6s infinite;

}

